<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <app-breed-card></app-breed-card>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <app-breed-card></app-breed-card>
    </div>
  </div>
</div>

